[Unit]
Description=User input
After=xdg-desktop-autostart.target

[Service]
User=root
Group=root
Restart=always
RestartSec=300
ExecStart=/usr/local/sbin/upgrade/update-user.sh

[Install]
WantedBy=multi-user.target

